#home{
    color:white; 
    margin-right: 20px;
    
}
#home:hover{
    background-color: #a6a6a6;
}

#search-icon{
    color:white;
    margin-right: 20px;
}

.navigationBar {
    background-color: black;
    font-size: 95%;
    font-family: 'Headland One', serif;
}
#navbarContent ul li{
    margin-right: 20px;
    
}
#navbarContent ul li a{
    color: #ffffff;
}

.navbar-nav > li > .dropdown-menu {background-color: black;  }
.navbar-nav > li > .dropdown-menu a{   color: #555555;  }

.navbar-nav > li > .dropdown-menu a:hover{ 
      background-color:#a6a6a6;
      background-image: none;
    }



.navbar-nav > li > a:hover{
    background-color:#a6a6a6;
    ;
}



@media only screen and (max-width: 576px) {
    #search-icon{
        display: none;
    }
} 
