/* Navigation bar */

#home{
    color:white; 
    margin-right: 30px;
    
}

#search-icon{
    color:white;
    margin-right: 20px;
}

.navigationBar {
    background-color: black;
    font-size: 95%;
    font-family: 'Headland One', serif;
}
#navbarContent ul li{
    margin-right: 30px;
    
}
#navbarContent ul li a{
    color: #ffffff;
}

.navbar-nav > li > .dropdown-menu {background-color: black;  }
.navbar-nav > li > .dropdown-menu a{   color: #555555;  }

.navbar-nav > li > .dropdown-menu a:hover{ 
      background-color:#404040;
      background-image: none;
    }

#home:hover{
    background-color: #404040;
}

.navbar-nav > li > a:hover{
    background-color:#404040;
}



@media only screen and (max-width: 576px) {
    #search-icon{
        display: none;
    }
}
