/* navigation Bar */
#home{
    color:white; 
    padding-right: 25px;
    padding-left: 25px;
    
}
#home:hover, #search-icon:hover{
    background-color: #a6a6a6;
}

#search-icon{
    color:white;
    margin-right: 20px;
    padding: 7px 35px;
}

.navigationBar {
    background-color: black;
    font-size: 90%;
    font-family: 'Headland One', serif;
    
}

#navbarContent ul li a{
    color: #ffffff;
    padding-right: 25px;
    padding-left: 25px;
}

.navbar-nav > li > .dropdown-menu {background-color: black;  }
.navbar-nav > li > .dropdown-menu a{   color: #555555;  }

.navbar-nav > li > .dropdown-menu a:hover{ 
      background-color:#a6a6a6;
      background-image: none;
    }

.navbar-nav > li > a:hover{
    background-color:#a6a6a6;
}


/* carousel */

#carousel img{ 
    max-height: 80%;
    max-width: 100%;
}

#carousel h1, #carousel p{
    font-family: 'Headland One', serif;
    margin-bottom: 15px;
}

/* band-description */

.band-description{
    margin-top: 60px;
    text-align: center;
}
.band-description h1{
    font-family: 'Headland One', serif;
}

.desc{
    text-align: justify;
    margin-left: 80px;
    margin-right: 80px;
}

/* meet the team section */
.meet-team{
    text-align:center; 
    margin-top:40px;
    margin-bottom: 30px;
    font-family: 'Headland One', serif;
}




/* Photo section */

.photo-section{
    margin-bottom: 30px;
}
.photo-section img{
    height:400px;
}
/* .card{
   
} */
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-top: 20px;
    margin-bottom: 20px;
}



/* media Queries */
@media only screen and (max-width: 576px) {
    .desc{
        margin-left: 30px;
        margin-right:30px;
    }
    
} 

@media only screen and (max-width: 768px) {
    #search-icon{
        display: none;
    }
}

@media only screen and (max-width: 850px) {
    .desc{
        margin-left: 50px;
        margin-right: 50px;
    }
} 

@media only screen and (min-width: 992px) {
    #carousel img{ 
        height: 570px;
    }
}
